/* Variables */
:root {
  --primary: #ea40a4;
  --light: #eee;
  --dark: #313154;
  --danger: #ff5b57;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--light);
  color: var(--dark);
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 2rem auto;
  padding: 2rem;
  max-width: 600px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.headers {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.study_lists {
  list-style: none;
  padding: 0;
}

.study_items {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.study_items label {
  margin-right: 0.9rem;
  cursor: pointer;
}

.study_items input[type="checkbox"] {
  cursor: pointer;
}

.study_items span {
  font-size: 0.99rem;
}

.study_items .actions {
  margin-left: auto;
}

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  text-decoration: none;
  color: #5f2020;
  font-weight: 500;
  text-align: center;
  font-size: 10px;
}

.check-button {
  background-color: var(--primary);
  margin-right: 0.5rem;
  color: white;
}

.edit-button {
  background-color: #3a82ee;
  margin-right: 0.5rem;
  color: white;
}

.delete-button {
  background-color: var(--danger);
  color: white;
}

.button:hover {
  opacity: 0.75;
}

.study_items input[type="checkbox"] {
  background-color: #000000;
}

.study_items input[type="checkbox"]:checked {
  background-color: var(--primary);
}
