

body {
    margin: 0;
    background-color: #EEE;
}

* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    text-decoration: none;
    font-family: 'montserrat', sans-serif;
}

/* Navigation Styles */
.navigation {
    /* position: fixed;
    top: 0;
    width: 100%; */
    background-color: #EA40A4;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px 15px;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    align-items: center;
}

.logo a {
    font-size: 35px;
    font-weight: 600;
    color: white;
    margin-right: auto; 
}

/* Link Styles */
.nav-links a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

/* Button Styles */
.navbutton {
    background-color: rgba(168, 28, 110, 0.75);;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
    text-align: center;
}