<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Routine</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='createroutine.css') }}"
    />
  </head>
  <body class="createroutine-body">
    <main class="app">
      <!-- Combined Form for Routine and Task -->
      <section class="create-todo">
        <form action="{{ url_for('create_routine') }}" method="post">
          <input type="hidden" name="form_type" value="routine" />
          <!-- Routine Name Form -->
          <section class="greeting">
            <h2 class="title">Study Name:</h2>
            <input
              type="text"
              name="name"
              placeholder="What's your routine name"
              required
            />
            <input type="submit" value="Submit Routine" />
          </section>
        </form>

        <form action="{{ url_for('create_routine') }}" method="post">
          <input type="hidden" name="form_type" value="task" />
          <!-- Task Creation Form -->
          <section class="create-todo">
            <h4>What are you studying today?</h4>
            <input
              type="text"
              name="name"
              placeholder="Routine Name"
              required
            />
            <input
              type="text"
              name="content"
              placeholder="e.g. add study here"
              required
            />
            <input
              type="text"
              name="category"
              placeholder="Category"
              required
            />
            <input type="submit" value="Add to Study" />
          </section>
        </form>
      </section>
    </main>
  </body>
</html>
