<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StudyMate</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='createroutine.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="headers">Edit Study Item</h1>
      <form action="{{ url_for('edit', id=task.id) }}" method="post">
        <input type="text" name="study_items" value="{{ task.task }}" class="input-field" />
        <button type="submit" class="input-field">Save</button>
      </form>
      <a href="{{ url_for('index') }}">Back to Study Items</a>
    </div>
  </body>
</html>
