<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code Cave Todo List</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='createroutine.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="headers">{{ username }}'s Study Items</h1>
      <p>What would you like to study today?!</p>
      <ul class="todo-list">
        {% for todo in tasks %}
        <li class="todo-item {% if todo.done %}done{% endif %}">
          <label>
            <input
              type="checkbox"
              name="done"
              {%
              if
              todo.done
              %}checked{%
              endif
              %}
              disabled
              onchange="this.form.submit()"
            />
            <span>{{ todo.task }}</span>
          </label>
          <div class="actions">
            <a
              class="button check-button"
              href="{{ url_for('check', id=todo.id) }}"
              >Check</a
            >
            <a
              class="button edit-button"
              href="{{ url_for('edit', id=todo.id) }}"
              >Edit</a
            >
            <a
              class="button delete-button"
              href="{{ url_for('delete', id=todo.id) }}"
              >Delete</a
            >
          </div>
        </li>
        {% endfor %}
      </ul>
      <form action="{{ url_for('add') }}" method="post">
        <input type="text" name="todo" placeholder="Example: 'Mathematics'" />
        <button type="submit" class="button">Add Study Item</button>
      </form>
      <a href="{{ url_for('logout') }}">Logout</a>
    </div>
  </body>
</html>
