<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='createroutine.css') }}"
    />
    <title>StudyMate</title>
  </head>
  {% include 'navigation.html' %}
  <body>
    <div class="container">
      <div class="centered-content">
        {% block centered_content %}
        <h1>Add a task, get productive</h1>

        <!-- Form Action to add-->
        <div class="container">
          <form action="{{ url_for('add') }}" method="post">

            <!-- dropdown to select tags -->
            <select name="tag"  required>
              <option value="" selected>Select a tag</option>
              {% for tag in predefined_tags %}
              <option value="{{ tag }}">{{ tag }}</option>
              {% endfor %}
            </select>

            <!-- Action to add- -->
            <input type="text" class="input-field" name="study_items" placeholder="Example: 'do X'" required>
            <button type="submit" class="add-button">Add Study Item</button>
          </form>
        </div>
        {% endblock %}
      </div>
    </div>
  </body>
</html>




    <!-- Form to add a new tag
          <form action="{{ url_for('layout') }}" method="GET">
            <label for="new_tag">Add New Tag:</label>
            <input type="text" id="new_tag" name="new_tag" placeholder="Enter new tag">
            <button type="submit">Add Tag</button>
          </form> -->