<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>StudyMate</title>
  </head>
  {% include 'navigation.html' %}
  <body>
    <div class="content">
      <div class="centered-content">
        {% block centered_content %}
        <h1>Add a task, get productive</h1>
        <!-- Form Action to add-->
        <div class="container">
          <form action="{{ url_for('add') }}" method="post">
            <input
              type="text"
              name="study_items"
              placeholder="Example: 'do X'"
            />
            <button type="submit" class="button">Add Study Item</button>
          </form>
          <!-- <a href="{{ url_for('logout') }}">Logout</a> -->
        </div>
        {% endblock %}
      </div>
      <!-- {% block content %}{% endblock %} -->
    </div>
  </body>
</html>
