<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StudyMate - Register</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='newstyle.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="headers">Create an Account</h1>
      <form action="{{ url_for('register') }}" method="post">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />
        </div>
        <div class="form-group">
          <label for="password">Password (8 chars):</label>
          <input
            type="password"
            id="password"
            name="password"
            pattern=".{8,}"
            title="Password must be at least 8 characters long"
            required
          />
        </div>
        <button type="submit" class="button">Register</button>
      </form>

      <p>
        Already have an account? <a href="{{ url_for('login') }}">Login here</a>
      </p>
    </div>
  </body>
</html>
